@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css');
@import url('https://unpkg.com/@djthoms/pretty-checkbox/dist/pretty-checkbox.min.css');
@import url('https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css');


// @import 'node_modules/@creativebulma/bulma-collapsible';
//@import '~@creativebulma/bulma-collapsible';
@import "node_modules/bulma-responsive-tables/bulma-responsive-tables";
//@import "./bthemes/bulmaswatch.min-flatly.css";

.profile-image{
    display: flex;
    justify-content: center;
  
}

.box{
    display: flex;
    justify-content: center;
}

.rows{
    display: flex;
    flex-direction: column;
}
